[Unit]
Description=Awesome window manager
After=xorg.target
Wants=xorg.target

[Service]
BusName=org.naquadah.awesome.awful
Restart=always
ExecStart=/usr/bin/awesome

[Install]
WantedBy=graphical.target
