[Unit]
Description=Awesome window manager
After=xorg.target
Wants=xorg.target

[Service]
Type=simple
ExecStart=/usr/bin/awesome

[Install]
WantedBy=graphical.target
