[Unit]
Description=Xorg Ressources
After=xorg.target
Wants=xorg.target

[Service]
Type=simple
ExecStart=/home/ben/.scripts/set_xressources.sh

[Install]
WantedBy=graphical.target
