[user]
	name = Benjamin Franzke
	email = benjaminfranzke@googlemail.com
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = benjaminfranzke@googlemail.com
	smtpserverport = 587
[log]
	decorate = true
[alias]
	grp = !git --no-pager grep --color=auto
	tree = log --oneline --decorate --graph
	branch-info = "!sh -c 'git branch --no-color | \
		    sed -e \"s/*/ /\" | \
		    while read branch; do \
		    git log -1 --format=format:\"%Cred$branch:%Cblue %s %Cgreen%h%Creset (%ar)\" $branch | cat; echo; \
		    done'"

[push]
	default = simple
