[submodule ".config/vim/bundle/nerdtree"]
	path = .config/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".config/vim/bundle/vim-pathogen"]
	path = .config/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".config/vim/bundle/vim-colorschemes"]
	path = .config/vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".config/vim/bundle/vim-css-color"]
	path = .config/vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color
[submodule ".config/vim/bundle/vim-css3-syntax.git"]
	path = .config/vim/bundle/vim-css3-syntax.git
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule ".config/vim/bundle/vim-less"]
	path = .config/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
