[Desktop Entry]
Comment=
Name=Conky
Encoding=UTF-8
Exec=conky -c ~/.config/conky/conkyrc
Terminal=false
Version=0.9.4
Hidden=True
Type=Application
StartupNotify=false

X-GNOME-Autostart-enabled=false
